#list-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 20vh;
}

.list_name{
  display: flex;
  flex-direction: row;
  flex-basis: 45%;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.list_info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-basis: 40%;
  padding: 10px;
}

.list_info h3{
  margin: 0px;
  padding: 5px;
}

#create_item_btn{
  max-height: 50px;
}


#create_item_form{
  display: flex;
  flex-direction: column;
  /* max-height: 20vh; */
}

#add_item_header{
  padding-top: 5px;
  padding-left: 20px;
}

.item_form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#item_form_fields{
  display: flex;
  flex-basis: 80%;
  margin: 10px;
}

#item_btn{
  margin-left: 10px;
  width: 20%;
  
}

